@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --green:#2dcb71;
    --open: 'Open Sans', sans-serif;
}

.container{
    max-width: 1180px;
    margin: auto;
}

.green-hr{
    background-color: var(--green);
    height: 10px;
}

header{
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header p{
font: 500 24px var(--open);
width: 469px;
line-height: 36px;
color: #ffffff;
}

header img{
    margin-top: 165px;
}

header .container{
    padding-left: 115px;
}

header a{
position: relative;
    display: inline-block;
    width: 52px;
height: 52px;
border-radius: 50%;
background-color: #000;
opacity: 0.5;

}

header a i{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    font-size: 24px;
    transform: translate(-50%, -50%);
}

header a:hover{
    background-color: var(--green);
    opacity: 1;
}

header .social{
    padding-bottom: 200px;
}



 

/* #features div{
    display:inline-block;
  margin-top: 49px;
  margin-right: 95px;
  padding-left: 35px;
  object-fit: cover;
  background-color: #ffffff;
}  */




#features{
    background-color: #ffffff;
    padding-top: 54px;
}

#features a {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    width: 98px;
    height: 98px;
    border-radius: 49px;
    background-color: #2ecc71;
    opacity: 1;
}


#features a i{
    position: absolute;
        top: 50%;
        left: 50%;
        color: #ffffff;
        font-size: 48px;
        transform: translate(-50%, -50%);
}
   

#feature h2{
    font-size: 22px;
line-height: 18px;
color: #222222;
font-weight: 600;
font-family: "Raleway";


}

#features p{
   
   margin-top: 25px;
    width: 358px;
    height: 130px;
    font-size: 16px;
    line-height: 26px;
    color: #848484;
    font-family: "Helvetica Neue";
    text-align: center;
}

#features div {
    display: inline-block;
     

  padding-left: 70px;
  object-fit: cover;
  background-color: #ffffff;
    
}



 .container2{
    background-color: rgb(228, 224, 224);
}

.container2  p{
    margin-top: 35px;
    width: 541px;;
    
height: 184px;
font-size: 16px;
line-height: 26px;
color: #848484;
font-family: "Helvetica Neue";
}

input{
    width: 446px;
height: 56px;
border-radius: 15px;
background-color: #ffffff;
border: 1px solid #c8c8c8;
}

button {
    width: 141px;
    height: 56px;
    border-radius: 15px;
    background-color: #2ecc71;
}

#metn{
    
    width: 887px;
height: 103px;
font-size: 18px;
line-height: 30px;
color: #848484;
font-style: italic;
font-family: "Helvetica Neue";
text-align: center;
margin-left: 125px;
} 

#metn  .photo img{
    display:inline-block ;
    padding-left: 70px;
  object-fit: cover;
}


.buttons h2{
    font-size: 24px;
line-height: 24px;
color: #000000;
font-weight: 600;
font-family: "Raleway";
text-align: center;

}

.buttons p{
    font-size: 16px;
line-height: 26px;
color: #848484;
font-family: "Helvetica Neue";
}


.social2 a {
    position: relative;
    display: inline-block;
    width: 52px;
height: 52px;
border-radius: 50%;
background-color: #000;
opacity: 0.5;

 
}

.social2 a i{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    font-size: 24px;
    transform: translate(-50%, -50%);
}